:root {
  --accent-color: #c13321;
  --hover-color: #bd4525;
  --white-color: #ffffff;
  --light-color: rgb(241, 245, 246);
  --black-color: rgb(37, 61, 82);
  --dark-color: rgb(78, 89, 99);

  --transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-size: 1rem;
  font-style: normal;
  color: var(--black-color);
  transition: var(--transition);
}

ul,
li {
  list-style: none;
  transition: var(--transition);
}

a {
  font-size: 1rem;
  text-decoration: none;
  transition: var(--transition);
}

p {
  font-size: 1rem;
  transition: var(--transition);
}

input,
select,
textarea,
button {
  transition: var(--transition);
  display: flex;
  font-size: 1rem;
  outline: none;
  border: none;
}

/* REUSABLE CSS */

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  transition: var(--transition);
}

.de-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  transition: var(--transition);
}
